@model Tradeguard2.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Esqueceu a Senha";
    var mediaQuery = @"
        @media only screen and (max-width: 768px) {
            #organizar_botoes {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                gap: 10px;
            }

            #div_geral {
                background-color: white;
                box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.4);
                -webkit-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.15);
                -moz-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.4);
                border-radius: 10px;
                padding: 30px;
                padding-left: 50px;
                padding-right: 50px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    ";
}

@section Style {
    <style>
        .button_Visualizar:hover, .button_Editar:hover {
            background-color: #112647;
            border-color: #112647;
            color: white;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
            padding: 10px;
            display: inline-block;
        }
        .button_Visualizar, .button_Editar {
            background-color: white;
            border-color: #112647;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
            padding: 10px;
            display: inline-block;
        }
        .button_Visualizar a, .button_Editar a {
            color: #112647;
        }
        .button_cancelar {
            background-color: white;
            border-color: red;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
            padding: 10px;
            display: inline-block;
            margin-right: 10px;
        }
        .button_cancelar:hover {
            color: white;
            background-color: red;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
            padding: 10px;
            display: inline-block;
            margin-right: 10px;
        }
        .button_guardar:hover {
            color: white;
            background-color: forestgreen;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
            padding: 10px;
            display: inline-block;
            margin-right: 10px;
        }
        .button_guardar {
            background-color: white;
            border-color: forestgreen;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
            padding: 10px;
            display: inline-block;
            margin-right: 10px;
        }
        .organizar_botoes {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        #div_geral {
            background-color: white;
            box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.4);
            -webkit-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.4);
            border-radius: 10px;
            padding: 50px;
            padding-left: 100px;
            padding-right: 100px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .div_form {
            margin-top: 20px;
        }
        .avatar_img {
            margin-bottom: 20px;
        }
        .checked {
            color: orange;
        }
        .Avaliacao_rating {
            margin-bottom: 20px;
        }
        .carregar_Foto a {
            color: #112647;
        }
        .carregar_Foto {
            margin-bottom: 20px;
            background-color: white;
            border-color: #112647;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
            padding: 10px;
            display: inline-block;
        }
        h1 {
            margin-bottom: 20px;
        }
        @Html.Raw(mediaQuery)
    </style>
}

<div id="div_geral" class="">
    <h1>Esqueceu a Senha</h1>
    <p>Por favor, insira seu e-mail para receber um link para alterar a senha.</p>

    <form asp-action="ForgotPassword">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
