@model Tradeguard2.Models.HistoricoDeCompra

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HistoricoDeCompra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_historico" />
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Anuncio" class="control-label"></label>
                <input asp-for="Id_Anuncio" class="form-control" />
                <span asp-validation-for="Id_Anuncio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CC_vendedor" class="control-label"></label>
                <input asp-for="CC_vendedor" class="form-control" />
                <span asp-validation-for="CC_vendedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CC_comprador" class="control-label"></label>
                <input asp-for="CC_comprador" class="form-control" />
                <span asp-validation-for="CC_comprador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="vendido" /> @Html.DisplayNameFor(model => model.vendido)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
