@using Microsoft.AspNetCore.Identity
@using NToastNotify
@using Tradeguard2.Data
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
@inject ApplicationDbContext _context
@inject IToastNotification _toastNotification;
@inject SignInManager<ApplicationUser> SignInManager
@using Microsoft.AspNetCore.Http



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tradeguard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /><link rel="stylesheet" href="~/Tradeguard2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.13/signalr.min.js"></script>
    <link rel="shortcut icon" href="~/Imagens/Logo/escudo.ico" type="image/x-icon" />

    @await RenderSectionAsync("Style", required: false)
</head>
<body>

    
  
        <header>
            <nav id="nav_bar" class="navbar navbar-expand-lg bg-body-tertiary">
                <div id="Div_navbar" class="container-fluid">
                    <a id="logo_name" class="navbar-brand" asp-action="Index" asp-controller="Home">
                        <img src="~/Imagens/Logo/escudo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                        TradeGuard
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">

                        <span class="navbar-toggler-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                            </svg>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="conjunto_li" class="navbar-nav">
                        <li id="Item_conjunto" class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home">
                                Principal
                            </a>
                        </li>
                        <li id="Item_conjunto" class="nav-item">
                            <a class="nav-link" asp-action="Lista_Users" asp-controller="Admin">
                                Utilizadores
                            </a>
                        </li>
                        @if (User.IsInRole("Administrador"))
                        {
                            <li id="Item_conjunto" class="nav-item">
                                <a class="nav-link" asp-action="Lista_Moderadores" asp-controller="Admin">
                                    Moderadores
                                </a>
                            </li>
                        }
                      
                        <li id="Item_conjunto" class="nav-item">
                            <a class="nav-link" asp-action="IndexPropostasValidar" asp-controller="Admin">
                                Vendas
                            </a>
                        </li>
                        <li id="Item_conjunto" class="nav-item">
                            <a class="nav-link" asp-action="IndexDenuncias" asp-controller="Admin">
                                Denuncias
                            </a>
                        </li>
                    </ul>
                    <ul  id="conjunto_li" class="navbar-nav ms-auto">
               
                        <li class="nav-item">
                            <partial name="_LoginPartialAdmin" />
                        </li>
                    </ul>



                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer id="footer_layout" class="border-top footer text-muted">

            <div id="logo" class="col">
                <img src="~/Imagens/Logo/escudo.png" alt="Logo" width="50" height="44" class="d-inline-block align-text-top">
                TradeGuard
            </div>

        </footer>



    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")

</body>
</html>
